Repository NFCSKL/NFC-ViAn, pull requests merged in 2018-12, with the labels that each got.

#186 Image sequence updated
  ViAn/GUI/TreeItems/sequencecontaineritem.cpp
  ViAn/GUI/TreeItems/sequencecontaineritem.h
  ViAn/GUI/TreeItems/sequenceitem.cpp
  ViAn/GUI/TreeItems/sequenceitem.h
  ViAn/GUI/TreeItems/treeitem.h
  ViAn/GUI/TreeItems/videoitem.cpp
  ViAn/GUI/projectwidget.cpp
  ViAn/GUI/projectwidget.h
  ViAn/Project/imagesequence.cpp
  ViAn/Project/imagesequence.h
  ViAn/Project/video.cpp
  ViAn/Project/video.h
  ViAn/Project/videoproject.cpp
  ViAn/ViAn.pro
  ViAn/Video/shapes/zoomrectangle.cpp
  ViAn/imageimporter.cpp
  ViAn/imageimporter.h
  ViAn/utility.cpp
  ViAn/utility.h
Labels: image sequence

#195 Checksum header
  ViAn/GUI/Bookmark/bookmarklist.cpp
  ViAn/GUI/TreeItems/sequenceitem.cpp
  ViAn/GUI/TreeItems/sequenceitem.h
  ViAn/GUI/TreeItems/videoitem.cpp
  ViAn/GUI/drawingwidget.cpp
  ViAn/GUI/projectwidget.cpp
  ViAn/Project/imagesequence.cpp
  ViAn/Project/imagesequence.h
  ViAn/imageimporter.cpp
  ViAn/imageimporter.h
  ViAn/utility.cpp
  ViAn/utility.h
Labels: cleanup

#205 Remove unused code and cleaned shapes
  ViAn/GUI/fpsdialog.cpp
  ViAn/GUI/fpsdialog.h
  ViAn/GUI/framewidget.cpp
  ViAn/GUI/videowidget.cpp
  ViAn/GUI/videowidget.h
  ViAn/Library/customdialog.cpp
  ViAn/Library/customdialog.h
  ViAn/Project/Test/projecttestsuite.cpp
  ViAn/Project/Test/videoprojecttest.cpp
  ViAn/Project/project.cpp
  ViAn/Project/project.h
  ViAn/Project/videoproject.cpp
  ViAn/Project/videoproject.h
  ViAn/ViAn.pro
  ViAn/Video/frameprocessor.cpp
  ViAn/Video/overlay.cpp
  ViAn/Video/overlay.h
  ViAn/Video/shapes/analysarea.cpp
  ViAn/Video/shapes/analysarea.h
  ViAn/Video/shapes/arrow.cpp
  ViAn/Video/shapes/arrow.h
  ViAn/Video/shapes/circle.cpp
  ViAn/Video/shapes/circle.h
  ViAn/Video/shapes/line.cpp
  ViAn/Video/shapes/line.h
  ViAn/Video/shapes/pen.cpp
  ViAn/Video/shapes/pen.h
  ViAn/Video/shapes/rectangle.cpp
  ViAn/Video/shapes/rectangle.h
  ViAn/Video/shapes/shapes.cpp
  ViAn/Video/shapes/shapes.h
  ViAn/Video/shapes/text.cpp
  ViAn/Video/shapes/text.h
Labels: cleanup

#214 Bookmark order
  ViAn/GUI/Bookmark/bookmarkcategory.cpp
  ViAn/GUI/Bookmark/bookmarkcategory.h
  ViAn/GUI/Bookmark/bookmarkitem.cpp
  ViAn/GUI/Bookmark/bookmarkitem.h
  ViAn/GUI/Bookmark/bookmarklist.cpp
  ViAn/GUI/Bookmark/bookmarklist.h
  ViAn/GUI/Bookmark/bookmarkwidget.cpp
  ViAn/GUI/Bookmark/bookmarkwidget.h
  ViAn/GUI/mainwindow.cpp
  ViAn/GUI/projectwidget.cpp
  ViAn/GUI/projectwidget.h
  ViAn/GUI/videowidget.cpp
  ViAn/Project/Test/bookmarktest.cpp
  ViAn/Project/Test/projecttestsuite.cpp
  ViAn/Project/Test/videoprojecttest.cpp
  ViAn/Project/Test/videoprojecttest.h
  ViAn/Project/bookmark.cpp
  ViAn/Project/bookmark.h
  ViAn/Project/project.cpp
  ViAn/Project/project.h
  ViAn/Project/videoproject.cpp
  ViAn/Project/videoproject.h
  ViAn/constants.h
  ViAn/reportgenerator.cpp
  ViAn/reportgenerator.h
Labels: bookmark, bug, cleanup
